body {
	font-family: "Source Sans Pro",sans-serif;
	background: #d2d1d1;
}
h1,h2,h3,h4,h5 {
	font-weight: lighter;
	margin:0;
	text-align: center;
}

#componentContainer {
	width: 100%;
	min-height: 100%;
}

#main {
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	margin-top: 0px;
	color: white;
}

#bgImg {
	background-image: url(../images/policecar.jpg);
	position: absolute;
	z-index: -5;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
  	/*filter: blur(15px);*/
  	filter: url(blur.svg#blur);
}

.overlay {
    position:absolute;
    background-color:rgba(0, 0, 0, 0.6);
    z-index:-1;
    color:white;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

/*Apply class inputClassOne to apply this style for div buttons*/
.buttonClassOne {
	margin-left:40px;
	text-align: center;
	color: rgb(231,95,93);
	background-color: rgba(255,255,255,0.2);
  	width: 100px;
	height: 35px;
	border-radius: 4px;
	padding-top:5px;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(0,54,76,0.5);
	cursor: pointer; 
	cursor: hand;
	transition: all 0.5s ease-in-out 0.1s;
}

.buttonClassOne:hover {
	background-color: rgba(231,95,93,0.5) ;
	color: white;
	border-color: white
}
/*End of styles for buttonClassOne*/



/*Apply class inputClassOne to apply this  style for input boxes*/
.inputClassOne input[type="text"], input[type="password"]{
	color: black;
	padding: 10px;
	margin: 0.5em 0;
	border: solid 1px #dcdcdc;
	transition: box-shadow 0.3s, border 0.3s;
	border-radius: 4px;
}
.inputClassOne input[type="text"]:focus, .inputClassOne input[type="text"].focus,
.inputClassOne input[type="password"]:focus, .inputClassOne input[type="password"].focus
{
  	border: solid 1px #707070;
  	box-shadow: 0 0 5px 1px white;
}
/*End of styles for inputClassOne*/


/*  SIGNUP PAGE SECTIONS FOR RESPONSIVENESS */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.column {
	display: block;
	float: left;
	margin: 1% 0 1% 5%;  /*top right bottom left */
	margin: 3%;
}
/*.column:first-child { margin-left: 20%; }
.column:second-child { margin-left: 20%; }*/

/*  GROUPING  */
.group:before,
.group:after { content: ""; display: table; }
.group:after { clear: both;}
.group { zoom: 1; /* For IE 6/7 */ }

/*  GO FULL WIDTH AT LESS THAN 600 PIXELS */

/* @media only screen and (max-width: 600px) and (max-device-width: 600px){
	.column { 
		margin: 1% 0 1% 15%; 
	}
}*/