
#componentContainer {
	width: 100%;
	min-height: 100%;
}

#homePage {	
	min-width: 100%;
	min-height: 100%;
	position: absolute;
}

.signupHeader, .loginHeader, #loginErrMsg, #signupNameMsg, #signupPwMsg {
	color: white;
}

#citizenSignup, #policeSignup, #citizenLogin, #policeLogin {
	border: 2px solid;
	border-radius: 6px;
	/*margin-left: 5%;*/
	padding: 40px;
	/*padding: 1.5% 3%;*/
	min-height: 5em;
	width: auto;
}

#citizenSignup h5, #policeSignup h5, #citizenLogin h5, #policeLogin h5 {
	margin-bottom: -0.25em;
}
#citizenSignup h3, #policeSignup h3, #citizenLogin h3, #policeLogin h3 {
	font-size: 2.5em;
}
/*#header > h2 {
	font-size: 1.5em;
	margin: 1.2em .5em;
}*/
#header  {
	font-size: 1.5em;
	margin-top: 1.2em;
	margin-bottom: 1.2em;
}
.header {
	font-size: 1.2em;
	margin: 1.2em 1em 1.5em 1em;
	height: 1em;
}
#header-left{
	left: 1%;
	width: 10%;
	float: left;
}
#header-middle{
	width: 70%;
	float: left;
}
#header-right{
	width: 10%;
	float: right;
}
#main #contentWrapper1, #main #contentWrapper2{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: stretch;
}